.sidebar {
  height: 100vh;
  background-color: rgb(26, 25, 25);
  padding: 0;
}
.div-sidebar {
  color: #65696e;
  font-size: 18px;
  font-weight: 800;
  margin-left: 30px;
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.div-sidebar:hover {
  color: #fff;
  cursor: pointer;
}
.a-sidebar {
  text-decoration: none;
}
